:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  
  color-scheme: light dark;
  //color: rgba(255, 255, 255, 0.87);
  color: #242424;
  background-color: #dfdfdf;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
}

.content {
  padding: 2rem;
  flex-grow: 1;
}

.navbar {
  position: sticky;
  top: 0;
  align-self: stretch;
  background-color: #813939;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em 0 4em;
  height: 4rem;
  border-bottom: 2px solid #335C67;
  .logo {
    flex: 1;
    font-family: "Kadwa", serif;
    font-weight: 700;
    padding: 0;
    font-size: 2.25rem;
    text-wrap: nowrap;
    a {
      text-decoration: none;
      color: white;
      line-height: 0;
    }
  }
  a {
    text-decoration: none;
  }
  .searchbar {
    height: 1.75rem;
    flex: 2;
    display: flex;
    justify-content: center;
    input {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      background-color: white;
      border: none;
      width: 100%;
    }
    
    button {
      height: 1.75rem;
      width: 1.75rem;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border: none;
      background-color: white;
    }
    button:hover {
      cursor: pointer;
    }
  }
  .searchbar:focus-within {
    border-radius: 50px;
    outline: auto;
  }
  
  ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    list-style-type: none;
    gap: 1em;
    padding: 0;
    li {
      a {
        border-radius: 50%;
        padding: 5px;
        border: 2px solid #FEB95F;
        display: flex;
      }
    }
  }
}


.sidebar {
  box-sizing: border-box;
  width: 15vw;
  min-width: 250px;
  height: calc(100vh - 4rem);
  background-color: #FB9F89;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  ul {
    padding-inline: 0;
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.25rem;
    a {
      color: #242424;
      text-decoration: none;
      font-weight: 525;
    }
    li {
      padding-right: 2ch;
    }
    li:hover {
      background-color: #ffb7a5;
      border-radius: 10px;
      padding-inline: 1ch;
      transition: padding-inline .25s ;
    }
  }
}

@import 
  'spinners'